
*{
  margin:0;
  padding: 0;
}
html,body{
  /* background-image: linear-gradient(to right, #000000, #1a1a1a); */
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.Navbar{
  background-color: #012862;
  padding: 30px;
  color: #fff;
  
 
}
.Body{
  margin-top:40px;
  width: 100%;
}



