
*{
  margin:0;
  padding: 0;
}
html,body{
  /* background-image: linear-gradient(to right, #000000, #1a1a1a); */
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Navbar{
  background-color: rgb(235, 235, 134);
  padding: 30px;
  
 
}
.Body{
  margin-top:40px;
  width: 100%;
}



