.Dash{
  
    width:20vw;
    padding: 40px;
    position: relative;
    top: 20px;
    left: 29px;
    border:solid 1px grey;
    border-radius: 11px;
    background-color: white;
    box-shadow: 0px 1px 11px 1px #fff;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    transition:ease-in-out 0.5s;

}

.Dash:hover{
    z-index:999;
    
    box-shadow: 0px 1px 20px 1px #fff;
}


input[type="search"]{
    padding:20px;
    font-size: 15px;
    border-radius:20px;
    box-shadow: 0px 1px 11px 1px #fff;
    border:solid 1px red;
    position: relative;
    left:35%;
    font-weight: bold;
    margin:20px;

}