*{
    margin:0;
    padding: 0;
  }

.Dash{
  
    width:20vw;
    padding: 40px;
    position: relative;
    top: 20px;
    left: 29px;
    border:solid 1px grey;
    border-radius: 11px;
    background-color: 	#E0FFFF;
    box-shadow: 0px 1px 11px 1px #fff;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    transition:ease-in-out 0.5s;

}

.Dash:hover{
    z-index:999;
    
    box-shadow: 0px 1px 20px 1px #fff;
    transform: translate(3);
}


input[type="search"]{
    padding:20px;
    font-size: 15px;
    border:outset 1px ;
    width: 90%;
    background-color: #ccffff;
    /* position: relative;
    left:35%; */
    font-weight: bold;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 0;

}


@media only screen and (max-width: 768px) {

   

    .Dash{
        position: relative;
        left: 0;
    }
    
}